<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>VueJS Playground</title>

    <link rel="stylesheet" href="main.css" />
    <!--<link rel="icon" href="images/favicon.png" />-->
</head>

<body>
<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
    </ul>
    <button @click="ingredients.push('spices')">Add New</button>
    <hr>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
        </li>
    </ul>
    <hr>

    <span v-for="n in 10">{{ n }}</span>
    <hr>

    <template v-for="(ingredient,index) in ingredients">
        <h1>{{ ingredient}}</h1>
        <p>{{ index }}</p>
    </template>
</div>

<script src="vuejs_prod.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data : {
           ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Max', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'}
            ]
        }
    });
</script>
</body>
</html>
